<!DOCTYPE html>
<html>
	<head>
		<title>{% block title %}{% endblock %}</title>
		{% block meta %}{% endblock %}
		{% block initlibs %}{% endblock %}
	</head>
	<body>
		{% block endlibs %}{% endblock %}
	</body>
</html>